* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a6d8d4;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}


.rock-paper-container {
      display: flex;
      gap: 90px;
}
main {
    margin-top: 60px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: px;
    border: 1px solid red;   
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 220px;
    width: 190px;

    border-radius: 20px;
    margin-top: 20px;
}

.card-title {
    border-bottom: 1.5px solid red;
}


.rock,
.paper,
.scissors {
    height: 170px;
    width: 170px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-rock {
    height: 160px;
    width: 160px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

.inner-rock img {
    width: 200px;
    length: 80px;
}

.inner-rock:hover{
    border: 1px solid black;
}

.addclass {
    background-color: black;
}

header .title {

    font-weight: 900;
    font-size: 3.5em;
}

.hide {
    display: none;
}