* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #201E20;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.rock-paper-container {
      display: flex;   
}

main {
    margin-top: 60px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    border-bottom: 1.5px solid red;
}

.rock,
.paper,
.scissors {
    height: 170px;
    width: 170px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock {
    margin-right: 20px;
}

.scissors {
    margin-left: 20px;
}

.inner-rock {
    height: 160px;
    width: 160px;
    background-color: #E0A96D;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-rock:hover {
    border: 2px solid #000;
}

.inner-rock img {
    width: 200px;
}

.scissors img {
    width: 100px;
}

.addclass {
    background-color: rgb(255, 0, 0);
}

header .title {
    font-weight: 900;
    font-size: 3.5em;
    color: #eee;

}


.start button {
    color: #eee;
    background-color: #E0A96D;
    outline: none;
    border: 1px solid #E0A96D;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.scoreboard-header {
    color: #eee;
    width: 300px;
    height: 50px;
    background-color: #E0A96D;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-body {
    width: 300px;
    height: 150px;
    background-color: #eee;
    border-radius: 0 0 20px 20px; 
}

.hide {
    display: none;
}

.usersHeader,
.usersScores {
    display: flex;
    gap: 140px;
    margin-left: 30px;  
}

.playerName,
.computerName {
    color: #E0A96D;
    font-size: 20px;
}


.scoreboard-body-lables,
.scoreboard-body-scores {
    display: flex;
    
    
}

.scoreboard-body-lables  div {
    width: 100px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
}

.scoreboard-body-scores div{
    width: 150px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
}

.divide-line {
    font-size: 27px;
    color: rgb(197, 194, 194);
}

hr {
    margin-left: 15px;
    width: 90%;
}

.roundResults{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.roundCount {
    color: #E0A96D;
}

