* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
@font-face{
    font-family:'digital-clock-font';
    src: url('font.ttf');
   }

>>>>>>> rps-ui
body{
    background-color: #201E20;
}

header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.rock-paper-container {
<<<<<<< HEAD
      display: flex;
      gap: 90px;
=======
      display: flex;   
>>>>>>> rps-ui
}

main {
    margin-top: 60px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 220px;
    width: 190px;

    border-radius: 20px;
    margin-top: 20px;
}

=======
>>>>>>> rps-ui
.card-title {
    border-bottom: 1.5px solid red;
}

.rock,
.paper,
.scissors {
    height: 170px;
    width: 170px;
<<<<<<< HEAD
    background-color: #E0A96D;
=======
    background-color: #eee;
>>>>>>> rps-ui
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
.inner-rock {
    height: 160px;
    width: 160px;
    background-color: #201E20;
=======
.rock {
    margin-right: 20px;
}

.scissors {
    margin-left: 20px;
}



.inner-rock {
    height: 160px;
    width: 160px;
    background-color: #E0A96D;
>>>>>>> rps-ui
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD


=======
}

.inner-rock:hover {
    border: 2px solid #000;
>>>>>>> rps-ui
}

.inner-rock img {
    width: 200px;
}

<<<<<<< HEAD
.inner-rock:hover{
    border: 1px solid #E0A96D;
}

.addclass {
    background-color: black;
=======
.scissors img {
    width: 100px;
}

.addclass {
    background-color: rgb(255, 0, 0);
>>>>>>> rps-ui
}

header .title {
    font-weight: 900;
    font-size: 3.5em;
    color: #eee;
<<<<<<< HEAD
    background-color: #E0A96D;
    border-radius: 20px;
    padding: 15px;
    margin-top: 50px;
}

.hide {
    display: none;
}
.card button {
=======

}


.start button {
>>>>>>> rps-ui
    color: #eee;
    background-color: #E0A96D;
    outline: none;
    border: 1px solid #E0A96D;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
<<<<<<< HEAD
}
=======
}

.scoreboard {
    width: 300px;
    height: 150px;
    background-color: #000;
    margin: 0 10px;
    border-radius: 20px;
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hide {
    display: none;
}

.scoreboard-title {
    align-self: center;
    margin-top: 10px ;
    font-weight: 900;   
}

.usersHeader,
.usersScores {
    display: flex;
    gap: 140px;
    margin-left: 30px;  
}

.playerName,
.computerName {
    color: #E0A96D;
    font-size: 20px;
}

.playerScore,
.computerScore {
    color: rgb(146, 26, 26);
    font-size: 20px;
    margin-right: 10px;
    font-family: digital-clock-font;
}

.computerScore {
    margin-left: 30px;
}

>>>>>>> rps-ui
